
body {
	color: hotpink;
	background-color: hotpink;
}


ul.navbar {
	list-style-type: none;
	  padding: 0;
	  margin: 0;
	  position: absolute;
	  top: 2em;
	  left: 1em;
	  width: 9em;
}

ul.navbar li {
   background: purple;
   margin: 0.5em 0;
   padding: 0.3em;
   border-right: 1em solid black }
 
 ul.navbar a{
 	text-decoration: none 
 }
 
 a:link {
 	color: yellow;
 }
 
 a:visited {
 	color: black;
 }

 address {
 	margin-top: 1em;
 	padding-top: 1em;
 	border-top: thin dotted }
h1{

	font-family: cursive;
	color: blue;
}

h2{
	font-family: monospace;
	color:green;
   }

h3{
	font-family: cursive;
	color:yellow;
   }

h4{
	font-family: monospace;
	color:red;
   }